@media (max-width: 768px) {

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .gallery-container {
        grid-template-columns: 1fr;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .aboutme {
        text-align: center;
        flex-direction: column;
    }

    .aboutme-content {
        align-items: center;
}

}